<h1>New pago seguridad social</h1>

<%= render "form", pago_seguridad_social: @pago_seguridad_social %>

<br>

<div>
  <%= link_to "Back to pago seguridad socials", pago_seguridad_socials_path %>
</div>
