<h1>Editing capitalizacion</h1>

<%= render "form", capitalizacion: @capitalizacion %>

<br>

<div>
  <%= link_to "Show this capitalizacion", @capitalizacion %> |
  <%= link_to "Back to capitalizacions", capitalizacions_path %>
</div>
