<p style="color: green"><%= notice %></p>

<div class="container">

<div class="row">
  <div id="col-8">
  <h1>Ahorros para seguridad social</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Comentario</th>
        <th scope="col">Tipo</th>
        <th scope="col">Registrado Por</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    
    <% @ahorro_seguridad_socials.each do |ahorro_seguridad_social| %>
      <%= render ahorro_seguridad_social %>
    <% end %>
    
    </tbody>
  </table>
  </div>
</div>
    <h3> ahorrado: </h3>
     <p><%= number_with_delimiter(@suma, :delimiter => ".")  %></p>
</div>
<%= link_to "New ahorro seguridad social", new_ahorro_seguridad_social_path %>
