<h1>New ahorro seguridad social</h1>

<%= render "form", ahorro_seguridad_social: @ahorro_seguridad_social %>

<br>

<div>
  <%= link_to "Back to ahorro seguridad socials", ahorro_seguridad_socials_path %>
</div>
